.achivement {
  width: 130%;
  height: fit-content;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1pc;
}
.achive {
  padding: 5px;
  display: flex;
  align-items: center;
}
.achive > p {
  margin-top: 10px;
  margin-left: 8px;
  padding: 10px;
  color: #8e8e93;
  color: #8E8E93;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.achive>h4{
    margin-left: 50px;
    color: #04396D;
}
.coins {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coins > p {
  padding: 10px;
  margin: 5px 2px 2px 10px;
  color: #8e8e93;
  color: #8E8E93;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.coins>h4{
    color: #04396D;
}

.blogs {
  padding: 5px;
  display: flex;
  align-items: center;
}
.blogs > p {
  margin-top: 10px;
  padding: 10px;
  color: #8e8e93;
  margin: 5px 2px 2px 20px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.blogs>h4{
    color: #04396D;
}
.avatar {
  color: rgb(85, 123, 146);
  position: absolute;
  left: 0px;
}
h4 {
  color: blue;
}
