.dashboard{
    font-size: .875rem;
    color: black;
    background-color: #E5E5E5;;
    width: 100%;
    height: fit-content;
  }
  .navbar{
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      margin: 0px 10px 0px 10px;
      border-radius: 1pc;
    
  }
  .navbar>input{ 
      width: 70%;
      height: 5vh;
      border: none;
      outline: none;
      border-radius: 1pc;
      background-color: #FFFFFF;
  }
  .navbar>img{
      width: 50px;
      height: 50px;
  }

  .button{
      color: #4f46e5;
  }
  .content{
      display: flex;
      flex-direction: row;
  }
  .bar{
      width:20%;
      height: 85vh;
      background-color: #FFFFFF;
      margin: 10px;
      border-radius: 1pc;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .rightside{
      width: 15%;
      height: fit-content;
      margin: 5px;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 100px;
  }
  
 .options{
   margin: 20px;  
   display: flex;
   flex-direction: column;
   justify-content: center;
  
 }

 .dash{   
  margin-left:50px ;   
  display: flex;
 }
 .boards-icons{
     margin-left: 50px;
     display: flex;
 }
 .mu{
     margin-right: 50px;
     position: absolute;
     left: 25px;
 }
.boards-icons:hover{
    cursor: pointer;
}
 .sidebar>h4{
    margin-left: 100px;
     color:   #04396D;

 }