/* .graph{
    width: 104%;
    height: 30vh;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 1pc;
} */

.graph{
    width: 570px;
    height: 35vh;
    background-color: #FFFFFF;
    margin: 10px;
    border-radius: 1pc;
}