
/* .profile{
    width: 110%;
    height:100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 1pc;
}
.profile>button{
    height: 5vh;
    background-color: #4f46e5;
    color: white;
    border-radius: 1pc;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    bottom: 40px;

}
.image{
    width: 50px;

}
.image>img{
    width: 100px;
    height: 100px;
}
.details{
    /* margin:0px 10px 5px 50px ; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    
}
.details>h4{
    color: #000000;
}
.follow{
    display: flex;
    justify-content: space-between;

}
.fol>h4{
    color: #04396D;
}
.follw>h4{
    color:#04396D ;
}
.opts{
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
.opts>p:hover{
   cursor: pointer;
   color: blue;
   text-decoration: underline;
}

.opt>p{
    margin-left: 40px;
}
.line{
    margin-right: 50px;
    transform: rotate(90deg);
} */ 

.pro{
    width: 580px;
    height: 45vh;
    margin: 10px 10px 10px 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 1pc;
}
.image>img{
    width: 100px;
    height: 100px;
}
.follow{
    display: flex;
    justify-content: space-between;

}
.fol>h4{
    color: #04396D;
}
.follw>h4{
    color:#04396D ;
}
.line{
    margin-right: 50px;
    transform: rotate(90deg);
}
.details{
    position: absolute;
    top: 90px;
    right: 600px;
}
.image>img{
    position: absolute;
    top: 50px;
    right:850px ;
}
.pro>button{
    height: 5vh;
    background-color: #4f46e5;
    color: white;
    border-radius: 1pc;
    border: none;
    outline: none;
    cursor: pointer;
    position:absolute;
    top: 90px;
    right: 450px;

}
.opts{
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 280px;
}
.opts>p:hover{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
 }
 .opts>p{
    margin-left: 40px;
}