/* .progress{
    width: 130%;
    height: fit-content;
    margin-top: 10px;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 1pc;
}
.progress>h4{
    margin-right: 30px;
    color: #000000;
}
.check{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.check>p{
    margin: 14px;
    position: relative;
    bottom: 37px;
}
.i1{
   transform: rotate(90deg);
   position: relative;
   right: 120px;
   top: 80px;
}

.i2{
    color: green;
    transform: rotate(270deg);
    position: relative;
    top: 7px;
} */
.progress{
    width: 300px;
    height: 250px;
    margin-top: 10px;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1pc;
    position: relative;
    right: 20px;
}
.check{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.check>p{
    margin: 12px;
    position: relative;
    bottom: 37px;
}
.check>p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.i1{
   transform: rotate(90deg);
   margin-left: 50px;
   position: relative;
   right: 120px;
   top: 180px;
}

.i2{
    color: green;
    transform: rotate(270deg);
    position: relative;
    top: 2px;
}