* {
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
}
body {
  background: linear-gradient(#afd8eff2, #afd8ef00);
}
.leftside,
.rightside {
  height: 80vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .leftside,
  .rightside {
    height: 100vh;
  }
}

/* .leftside {
  background: red;
}

.rightside {
  background: blue;
} */

.conti-img {
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  margin-top: 90px;
}

.img {
  height: 480px;
  width: 400px;
}
/* 
right side */

.wrap-login100 {
  background: #fbfcfe;
  border-radius: 22px;
  box-shadow: 5px 4px 4px 3px rgba(17, 16, 16, 0.3);
  max-height: 50rem;
  width: 450px;
}
.txt1 {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  padding-right: 3px;
}

.txt2 {
  font-family: OpenSans-Regular;
  font-size: 18px;
  line-height: 1.4;
  color: #195cdd;
}
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
}
.hov1:hover {
  text-decoration: underline;
}

.diss{
  display: flex;
  margin-left: 71px;
}

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
   justify-content:center ;
   align-items:center;
   display: flex;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Century751 BT;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  /* text-align: center; */
  color: #195cdd;
  margin-bottom: 0%;
}
.login1000-form-title {
  justify-content:center ;
   display: flex;
   align-items:center;
  font-family: Bahnschrift;
  font-size: 23px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  margin-top: 2px;
  margin-bottom: 0%;
  color: #727373f2;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  max-width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

.wrap-input100.rs1 {
  border-top: none;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.container-login100-form-btn {
  max-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  margin-top: 20px;
  padding: 0 20px;
  display: block;
  font-family: Baloo Bhai 2;
  font-size: 17px;
  color: #fff;
  line-height: 48px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #04396D;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    text-align: center;
    color:#FBFCFE;
    justify-content: center;
}
@media all and (max-width:1000px) {
  .login100-form-btn { width: 100%; display:block; }
}  
.login100-form-btn:hover {
  background-color: #333333;
}
