.phone {
  width: 100%;
  padding: 2%;
  border: 3px solid #04396D;
  font-size: 25px;
  font: Baloo Bhai 2;
  border-top: 2px;
  border-left: 2px;
  border-right: 2px;
  justify-content:center ;
  display: flex;
  align-items:center;  
  
}
.PhoneInputCountryIconImg {
  justify-content:center ;
  display: flex;
  align-items:center; 
  width: 100%;
  height: 100%;
  border: 1px solid #eff0f1;
  font-size: 20px;
  
}

.PhoneInputInput{
  width: 100%;
  height: 4vh;
  outline: none;
  border: none;
  border-color: transparent;
  font-size: 20px;
  padding-left:3px;
}