.sidebar {
  flex: 3;
  height: fit-content;
  /* margin: 20px; */
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.left-side img{
 display: inline-flex;
  width: 100%;
height: 93px;
border-radius: 10px;
/* margin-left: 20px; */
padding-right: none;
}

.sidebarTit 
  {
width: 206px;
height: 41px;


font-family: Segoe UI;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;

color: #000000;

}
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.sidebarTitle {
  overflow: hidden;
 
  text-align: left;
 
  /* margin-top: 50px; */

  display: inline-flex;
  border-radius: 30px;
  padding: 5px;
  /* margin: 25px; */
  font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 40px;
margin-bottom: 40px;

}


.sidebarItem > img {
  margin-top: 15px;
  width: 200px;
  height: 180px;
  
  border-radius: 10px;
}

.sidebarItem > p {
  padding: 30px;
}

.sidebarList {
  list-style-type: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
}
