body, html {
	margin: 0;
	font-family: Roboto, Arial, helvetica, sans-serif;
}

.h11{
   /* width: 50%; */
  /* height: 50px; */
  background: #EFF3F4;
  
  /* z-index: 999; */
  font-family: "Josefin Sans", sans-serif;
}
.phoneNavbarIcons {
  display:none;
 }
.top {
  width: 100%;
  height: 50px;
  background: #EFF3F4;
  /* position: relative; */
  top: 0;
  display: flex;
  /* z-index: 999; */
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  /* text-decoration: underline; */
}
.heading {
  justify-content:right ;
  align-items:right;
  display: flex;
  position: relative;
  margin-right: 130px;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 font-family: Century751 BT;
 font-size: 35px;
 font-style: normal;
 font-weight: 400;
 line-height: 60px;
 letter-spacing: 0em;

 color: #195cdd;
 /* margin-bottom: 1%; */
}
.top1{
  background: #eff3f4;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  text-align:end ;
}
.tap1{
  /* width: 100%;
  height: 50px; */
  background: #eff3f4;
  background-color: #EFF3F4;;
  position: relative;
  /* top: 0; */
  /* display: flex; */
  /* z-index: 999; */
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  /* z-index: 999; */
  /* margin: 0;
  padding: 0; */

}


.topLeft {
  display: flex;
  align-items: left;
  justify-content: left;
  background: #EFF3F4;
}
.topRight {
 background:#EFF3F4;
  display: flex;
  align-items: right;
  justify-content: right;
  padding-right: 30px;

}
.topRight1 {
  background:#EFF3F4 ;
   display: flex;
   align-items: right;
   justify-content: right;
   padding-right: 5px;
   
 }

.topIcon {
  font-size: 30px;
  /* margin-right: 5px; */
  color: #444;
  display: flex;
  margin-top: 10px;
  padding: 10px;
  
  /* cursor: pointer; */
}

.topList {
  display: flex;
 /* justify-content: left; */
  /* margin: 0;
  padding: 2; */
  list-style: none;
  /* float: left; */
  color: black;
  text-align: Left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  font-family: inherit;
  font-weight: bold;
  bottom: 0;
  
}

.topListItem {
  display: inline-flex;
  text-align: center;
  padding: 14px;
  color: rgb(0, 0, 0);
  /* text-decoration: none; */
  font-size: 20px;
  font-weight: bolder;
  margin-left: 35px;
  border-bottom:  transparent;
}

.topListItem:hover {
  color: #195CDD;
  border-bottom:3px solid #195CDD;
  /* border-bottom: 3px solid #195CDD; */
}
.selected{
  border-bottom: 3px solid #195CDD;
}
.topListItem:active {
  color: #195CDD;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 85px;
  cursor: pointer;
  margin-top: 17px;
}

.topSearchIcon {
  font-size: 20px;
  margin: 20px;
  color: #04396d;
  cursor: pointer;
  margin-top: 30px;
  padding-right: 5px;
}


.topListItem link :hover {
  border-bottom: 3px solid red;
}

/* .topLeft topList topListItem link :active {
  color: #195CDD;
} */

          
.nav-active {
  /* border-bottom: #195cdd !important; */
  color: #195cdd !important;
  /* text-decoration: underline !important; */
}
 .link :hover {
   color: #195CDD !important;
   text-decoration: underline !important;
 }

 .menu {
   display: none;
 
 }

 .menu-line {
   width: 30px;
   height: 3px;
   background-color: black;
   margin-bottom: 4px;
   
 }
 .heading-1{
   display: none;
 }
 .heading1{
   display: none;
   
 }

@media all and (max-width :770px) {

  /* .container {
    display: none;
  } */
  * {
    max-width: 100%;
   
    
  }
  .phoneNavbarIcons {
    display: flex;
    justify-content: center;
    margin-left: 80px;
   }
  .h11 {
    display: none;
  }
  .topLeft {
    display: none;
    width: 100%;
    margin-top: 10%;
  }
  /* .topRight {
    display: none;
    width: 100%;
    margin-top: 10%;
  } */
  .topLeft .topList{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .topLeft .topList .topListItem {
    text-align: center; 
    padding: 4%;
    border-bottom: transparent;
    justify-content: center;
   align-items: center;
  }
  

  .menu {
    display: block;
    margin: auto;
    margin-left: 10px;
    margin-top: 20px;
    float: left;
    background: #EFF3F4;
    
  }
  .topRight {
    display: none;
    /* display: flex;
    float: right;
    width: 90%;
    margin-top: 0%;
    padding-top: 0%; */
  }
  
  .topImg{
    float: right;
  }

.topSearchIcon {
  float: left;
}
  /* .topRight {
    margin: auto;
    margin-right: 1%;
    margin-top: 1%;
  } */
  /* .topRight::before{
    display: none;
  }
  .topRight::after{
    margin: auto;
    margin-right: 1%;
    margin-top: 1%;
  } */
  
  .heading1{
   /* justify-content:right ;
   align-items:right;
   display: flex;
   margin-right: 130px; */
   display: block;
   float:right;
   margin-top: 13px;
   padding-bottom: 3%;
   margin-right: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Century751 BT;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 10px; */
  letter-spacing: 0em;
  /* margin: auto; */
  /* margin-right: 0%; */
  
  color: #195cdd;
  
  }
  .active {
    display: block;
  }
  .topRight .topSearchIcon, .topRight .topImg {
    font-size: 15px;
  }
  }  