body{
    background-color: #B5D9EF;
}
.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 40px;
    justify-content: space-evenly;
}
.i1 {
    height: 260px;
    width: 360px;
}
.setvalue{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 5px;
    margin-left: 5px;
    background: #FBFCFE;
    box-shadow: 5px 4px 4px 3px rgba(17, 16, 16, 0.3);
    border-radius: 22px;
}
.titel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 20px;
    
    font-family: Century751 BT;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
    color: #195CDD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sub-titel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 10px;

    font-family: Bahnschrift;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 42px;
    
    color: rgba(114, 115, 115, 0.95);
}

.entry{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    

    color: #04396D;
}
#f-name{
    margin-top: 20px;
    margin-left: 20px;

}
#l-name{
    margin-top: 20px;
    margin-left: 20px;
}
#email{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
}
#dob
{
    margin-top: 20px;
    margin-left: 20px;
}
#gender{
    margin-top: 20px;
    margin-left: 20px;
}
.input-filed{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
}

#f-input{
    margin-top: 20px;
    margin-left: 20px;
    height: 5px;
    background-color:#ECEDEF;

    
}
#l-input{
    margin-top: 20px;
    margin-left: 20px;
    height: 5px;
    background-color:#ECEDEF;
}
#e-input{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: 5px;
    background-color:#ECEDEF;
}
#d-input{
    margin-top: 20px;
    margin-left: 20px;
    height: 5px;
    
    background-color:#ECEDEF;
}
#female{
    margin-top: 20px;
    margin-left: 20px;
    height: 5px;

}

#male{
    margin-top: 20px;
    margin-left: 20px;
    height: 5px;

}

#button{
    width: 100%;
    height: 55px;
    
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 10px;

    background: #04396D;
    border-radius: 10px;

}
