.post {
  width: 300px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
}

.postImg {
  width: 290px;
height: 180px;
left: 53px;
top: 417px;
border-radius: 10px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

font-family: Segoe UI;
font-style: normal;
font-weight: 200;
font-size: 10px;


color: #000000;
}

.postCat {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #be9656;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}

.postDate {
  font-family: Segoe UI;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
 align-items: left;
 justify-items: left;
  /* identical to box height */
  
  color: #8E8E93;
}

.postDesc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
