.home {
  display: flex;
}


.vertical-line{
  display: inline-flex;
  /* border-left: 1px solid #ccc; */
  margin: 0 10px;
  height: 1500px;
  border: 0.2px solid #8f8d8d;
  /* margin-top: 50px; */
  margin-left: 12px;
}
.tab {
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #f0f2f2;

  display: inline-flex;
  border-radius: 30px;
  padding: 5px;
  /* margin: 25px; */
}
.login100-form-title {
  justify-content: left;
  display: flex;
  align-items: left;
  font-family: Bahnschrift;
  font-size: 23px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  margin-top: 2px;
  margin-bottom: 0%;
  color: #727373f2;
}
/* Style the buttons inside the tab */
.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 18px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 30px;
  font-family: Baloo Bhai 2;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #4ecef6;
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #4ecef6;
  border-radius: 30px;
  color: white;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 60px 20px;
  border: 1px solid #ccc;
  border-top: none;
}
